/_out/
/_aux/
/makefile-params-local

##TODO

#rules are only if someone want to edit files with an editor that puts outputs on the same dir as the tex outputs

#however pdf files might be part of a project (under media for inclusion for example)

#also it is not possible to ignore all pdfs under /tex without putting a .gitignore there

#but this would require yet another submodule to be maintainable

#what to do? create the second submodule? or is there another option?

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

*.ps
*.pdf
